#sets

#what is sets ?
# sets is an unordered collection of data enclosed in {}

In [1]:
## properties of sets
'''only gives unique elements
VAlues must be unique
it does not allow mutable data types
but itself is mutable
we cant acces values using indexing
'''

'only gives unique elements\nVAlues must be unique\nit does not allow mutable data types\nbut itself is mutable\nwe cant acces values using indexing\n'

# How to create an empty sets
s = {}
type(s)

In [5]:
s = set()
type(s)

set

In [6]:
s = {1,2,4,5}
type(s)

set

In [7]:
# if we give duplicates in sets !!
sets = {1,22,3,22,55,5,55}
sets

{1, 3, 5, 22, 55}

In [1]:
s = {2,3,4,5,7}
s

{2, 3, 4, 5, 7}

In [5]:
s1 = {1,2.3,"hello",56}
s1

{1, 2.3, 56, 'hello'}

In [3]:
s1 = {1,2.3,[3,5],"hello",56}
s1

TypeError: unhashable type: 'list'

In [13]:
s1 = {1,2.3,{3:1,5:4},"hello",56}

TypeError: unhashable type: 'dict'

In [6]:
s1 = {"kaif","hi","hello"}
s1

{'hello', 'hi', 'kaif'}

In [17]:
s1[1]

TypeError: 'set' object is not subscriptable

In [18]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
s = {34,56,78,21,67,11}
s.add(11)
print(s)

{34, 67, 21, 56, 11, 78}

In [26]:
s = {1,2,3,5}
id(s)

3160402718496

In [8]:
s = {1,2,3,5}
s.remove(3)
s

{1, 2, 5}

In [31]:
s = {34,56,78,21,67,11}
s.pop()
s

{11, 21, 56, 67, 78}

In [35]:
s = {34,56,78,21,67,11}
for i in s:
    print(i,end="-")

34-67-21-56-11-78-

In [21]:
# write a program to add the elements into sets which is entered by user
s = set()
size=int(input("enter the number of elements in sets :"))

for i in range(1,size+1):
    z=int(input("Enter the value to be added in sets :"))
    s.add(z)
print(s)

enter the number of elements in sets :45
Enter the value to be added in sets :

ValueError: invalid literal for int() with base 10: ''

In [40]:
s = {34,56,78,21,67,11}
s.clear()
s

set()

In [ ]:
# task 1 take a user input of students and add 3 marks as value in list
# task2 delete the marks of students

In [43]:
s = {34,56,78,21,67,11}
s1={1,2,3,5}
s1.union(s)
# or
s1|s

{1, 2, 3, 5, 11, 21, 34, 56, 67, 78}

In [44]:
s1|s

{1, 2, 3, 5, 11, 21, 34, 56, 67, 78}

In [42]:
s = {1,2,3,5}
s1 = {34,56,78,21,67,11,1,2}
s1.intersection(s)

{1, 2}

In [45]:
s1.difference(s)

{1, 2, 3, 5}

In [46]:
# Or
s - s1

{11, 21, 34, 56, 67, 78}

In [49]:
#difference update
s = {1,2,3,5}
s1 = {34,56,78,21,67,11,1,2}
s.difference_update(s1)
s

{3, 5}

In [51]:
s1 = {2,3,4,5}
s2 = {5,6,7,8}
s1.symmetric_difference(s2)

{2, 3, 4, 6, 7, 8}

In [53]:
s1 = {2,3,4,5}
s2 = {5,6,7,8}
s2.issubset(s1)

False

In [54]:
s1 = {2,3,4,5}
s2 = {5,6,7,8}
s2.issuperset(s1)

False

In [55]:
s1 = {2,3,4,5}
s2 = {5,6,7,8}
s1.isdisjoint(s2)

False

In [ ]:
# Frozen set is an immutable version of set
Elemnts of frozen set remain same
Due to  this it can be used as keys of dictionary

In [ ]:
# write a program to add all the elements in the set from 2000 - 2100 whose all elements are even
#l1 = ["JAI","KUMAR","SINGH"]
#l2 = ["NITISH SINGH KATARIA"] 
first = [JAI,NITISH]
MIDDLE = ["KUMAR",SINGH]
LAST = ["SINGH,KATARIA"]

In [55]:
s = set()
z = 0
for i in range(2000,2101):
    if i % 2 == 0:
        z = z + i
        s.add(z)
print(s)
list(s,end=)

{100352, 30210, 69122, 28182, 71190, 18072, 79482, 81560, 4002, 96162, 10020, 89892, 48552, 50600, 46506, 52650, 26156, 73260, 44462, 54702, 87806, 102450, 42420, 56756, 16056, 83640, 40380, 58812, 24132, 75332, 38342, 60870, 8012, 91980, 2000, 98256, 36306, 62930, 14042, 85722, 22110, 77406, 34272, 64992, 104550, 32240, 67056, 6006, 94070, 20090, 12030}

TypeError: list() takes no keyword arguments