In [ ]:
'''dictionary is mutable but keys are immutable
dictionary has no indexing
keys are unique
values can be  mutable or immutable

###List Of Data Types Wich are Mutable or Immutable
Mutable = List,Sets,Dictionary
Immutable = Strings,Tuple,Int,Float,Boolean,Complex'''

In [1]:
a = 6
id(6)

2495141734864

In [2]:
a = 4
id(4)

2495141734800

In [3]:
# Empty Dictionary
d ={}
type(d)

dict

In [5]:
d = {1:"one",2:"Two",3:"Three"}

In [6]:
d = {1:"one",2:"Two",3:"Three",4:{"four":"even"}}
len(d)

4

In [7]:
d = {[1,2,3,4]:"list"}

TypeError: unhashable type: 'list'

In [8]:
d = {"Md":"kaif"}
d

{'Md': 'kaif'}

In [9]:
d = {"name":"python",1:[1,2,3,4]}
print(d)

{'name': 'python', 1: [1, 2, 3, 4]}

In [10]:
d = dict({1:"hello"})
type(d)
d

{1: 'hello'}

In [13]:
l1 = [(1,"one"),(2,"two")]
l = dict({l1})
l1

TypeError: unhashable type: 'list'

In [6]:
d = {1:"One",2:"Two",3:"three",4:{"four":"even","multipleof2":"2"},"list":[1,2,3,4]}
d["list"][::-1]

[4, 3, 2, 1]

In [21]:
d = {1:"One",2:"Two",3:"three",4:{"four":"even","multipleof2":"2"},"list":[1,2,3,4]}
d[2]

'Two'

In [22]:
d = {1:"One",2:"Two",3:"three",4:{"four":"even","multipleof":"2"},"list":[1,2,3,4]}
d[4]

{'four': 'even', 'multipleof2': '2'}

In [23]:
d[5]

KeyError: 5

In [24]:
d.get(4)

{'four': 'even', 'multipleof2': '2'}

In [7]:
type(d.get("list"))

list

In [32]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [35]:
l1 = {1:"one",2:"two"}
print(l1.keys())

dict_keys([1, 2])

In [9]:
print(l1.values())

NameError: name 'l1' is not defined

In [38]:
l1.items()

dict_items([(1, 'one'), (2, 'two')])

In [2]:
d = {}
d["name"]=["jatin","priya","jay"]
d["gender"]=["m","f","m"]
d["grade"]= ["a","b","a+"]
d
import pandas as pd
df=pd.DataFrame(d)
df

    name gender grade
0  jatin      m     a
1  priya      f     b
2    jay      m    a+

In [1]:
import pandas as pd
df=pd.DataFrame(d)
df

NameError: name 'd' is not defined

In [20]:
d = {"A":"python","B":"core"}
d1 = {"Course":"python","Course2":"Datascience"}
d.update(d1)
d
import pandas as pd
df=pd.DataFrame(d)
df

ValueError: If using all scalar values, you must pass an index

In [26]:
#Shallow Copy
d = {"A":"python","B":"core"}
d1 = {"Course":"python","Course2":"Datascience"}
d1.copy()
d1

{'Course': 'python', 'Course2': 'Datascience'}

In [4]:
dict = {5: "Welcome",6: "to",7: "Madrid","A" :{1: "Python",2: "For",3:{1:"Madrid",2: "solutions"}}}
print(dict)
dict.pop(7)

{5: 'Welcome', 6: 'to', 7: 'Madrid', 'A': {1: 'Python', 2: 'For', 3: {1: 'Madrid', 2: 'solutions'}}}

'Madrid'

In [13]:
Dict = {5: "Welcome",6: "to",7: "Madrid","A" :{1: "Python",2: "For",3:{1:"Madrid",2: "solutions"}}}

In [20]:
# wap to reverse a string a using while loop and for loop
s = "python"
s1 = ""
for i in s:
    s1 =s[::-1]
print(s1)

nohtyp

In [25]:
s = "python"
s1 = ""
i = len(s)-1
while(i >=0):
    s1 = s1 +s[i]
    i = i - 1
print(s1)

nohtyp

In [27]:
Dict = {1: "python","name": "Madrid",3: "core",4:[1,2,3]}
for i in Dict.items:
    print(i)

1
name
3
4

In [4]:
Dict = {1: "python","name": "Madrid",3: "core",4:[1,2,3]}
for i,j in Dict.items():
    print(i,"----",j)

1 ---- python
name ---- Madrid
3 ---- core
4 ---- [1, 2, 3]

        1    name     3  4
0  python  Madrid  core  1
1  python  Madrid  core  2
2  python  Madrid  core  3

In [36]:
# create a dictionary and print squares of 1 to 15
d = {}
for i in range(1,16):
    d[i]=i%3
    
print(d)

{1: 1, 2: 2, 3: 0, 4: 1, 5: 2, 6: 0, 7: 1, 8: 2, 9: 0, 10: 1, 11: 2, 12: 0, 13: 1, 14: 2, 15: 0}

In [19]:
d = {1:"one",2:"two",3:"three",4:"four",5:"five"}
for i,j in d.items():
    if i % 2 == 0:
        d[i].upper()
    else:
        d[i]=len(j)
print(d)

{1: 3, 2: 'two', 3: 5, 4: 'four', 5: 4}

In [49]:
# write a dictionary program 
# 1 Take number of students
# 2 marks of three subjects ,gender,class a 0r b

d={}
name=[]
gender=[]
marks=[]
Class = []
n=int(input("Enter the Number of Students :"))
for i in range(1,n+1):
    name1=input("enter the name")
    name.append(name1)
    marks1=input("enter the marks").split(" ")
    marks.append(marks1)
    gender1=input("enter the gender")
    gender.append(gender1)
    Classs = input("Enter Class A or B :")
    Class.append(Classs)
    
d["Name"]= name
d["Marks"]=marks
d["gender"]=gender
d["Class"]= Class
print(d)

Enter the Number of Students :3
enter the namepang
enter the marks36 78 89
enter the genderm
Enter Class A or B :B
enter the nameMing
enter the marks78 90 67
enter the genderf
Enter Class A or B :kaif
enter the namekaif
enter the marks90 92 94
enter the genderm
Enter Class A or B :a
{'Name': ['pang', 'Ming', 'kaif'], 'Marks': [['36', '78', '89'], ['78', '90', '67'], ['90', '92', '94']], 'gender': ['m', 'f', 'm'], 'Class': ['B', 'kaif', 'a']}

In [41]:
d = {}
s = input("Enter A Word: ")
for i in s:
    d[i] = s.count(i)
print(d)

Enter A Word: hi hello how are you
{'h': 3, 'i': 1, ' ': 4, 'e': 2, 'l': 2, 'o': 3, 'w': 1, 'a': 1, 'r': 1, 'y': 1, 'u': 1}

In [46]:
dictionary = {0:"a",1:"quick",2:"brown",3:"fox",4:"jumps",5:"Over",6:"lazy",7:"dog"}
print(sorted(dictionary.keys(),reverse= True))

[7, 6, 5, 4, 3, 2, 1, 0]

In [48]:
dictionary = {0:"a",1:"quick",2:"brown",3:"fox",4:"jumps",5:"over",6:"lazy",7:"dog"}
print(sorted(dictionary.values()))

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick']

In [49]:

dictionary = {0:"a",1:"quick",2:"brown",3:"fox",4:"jumps",5:"over",6:"lazy",7:"dog"}
print(sorted(dictionary.items()))

[(0, 'a'), (1, 'quick'), (2, 'brown'), (3, 'fox'), (4, 'jumps'), (5, 'over'), (6, 'lazy'), (7, 'dog')]

In [ ]:
# write a program to sort the dictionary on the basis of its values

In [4]:
help(dict._delitem_)

AttributeError: type object 'dict' has no attribute '_delitem_'

In [51]:
# from keys

# create a dictionary with 3 keys ,all with values 0

x = ('key1','key2','key3')
y = 0
d = dict.fromkeys(x,y)
print(d)

{'key1': 0, 'key2': 0, 'key3': 0}

In [52]:
x = ('key1','key2','key3')
d = dict.fromkeys(x)
print(d)

{'key1': None, 'key2': None, 'key3': None}

In [54]:
li = ['a','e','i','o','u']
l1 = [1,2,3,4,5]
new_dict=dict.fromkeys(li,l1)
print(new_dict)

{'a': [1, 2, 3, 4, 5], 'e': [1, 2, 3, 4, 5], 'i': [1, 2, 3, 4, 5], 'o': [1, 2, 3, 4, 5], 'u': [1, 2, 3, 4, 5]}

In [45]:
li = ['a','e','i','o','u']
l1 = [1,2,3,4,5]
t = tuple(zip(li,l1))
print(t)

(('a', 1), ('e', 2), ('i', 3), ('o', 4), ('u', 5))

In [64]:
li = ['a','e','i','o','u']
l1 = [1,2,3,4,5]
t = list(zip(li,l1))
print(t)
z = float (zip(*t))
print(z)

[('a', 1), ('e', 2), ('i', 3), ('o', 4), ('u', 5)]

TypeError: float() argument must be a string or a number, not 'zip'

In [ ]:
# write a program to remove spaces from dictionary keys
d = {'1 0'}
# write a program to remove duplicates from dictionary
# write a program to check Whether a particular keys present in dictionary

In [ ]:
# write a python to merge two dictyionary
#sample dicyionary
dic1 = {1:10,2:20}
dic2 = {2:30,4:40}
dic3 = {5:50,6:60}
#expected result = {1:10,2:20....6:60}

In [ ]:
#