Q:Â¶
Raj has 23 candies, simran has 34 candies, aditya has 21 candies . Candies would be equally distributed How many candies need to be distributed to each of them and remaning candies need to given to diksha ?

In [8]:
raj = 23
simran = 34
aditya = 21
totalcandies = raj + simran + aditya
print("Total Candies is : ",totalcandies)
print("Everyone will Get : ",totalcandies//3)
eachgotcandies = totalcandies//3
diksha = totalcandies%3
print("Diksha will Get :",diksha)

Total Candies is :  78
Everyone will Get :  26
Diksha will Get : 0

In [30]:
# Write a program to calculate BMI by taking input from the user regarding his height and weight
# formula : w/(h**2)
height=int(input("Enter Your Height in Centimetre :- "))
weight=int(input("Enter Your Weight in Kilograms :- "))
bmi=weight/height**2
print("Your B.M.I is :- ",bmi)

Enter Your Height in Centimetre :- 167
Enter Your Weight in Kilograms :- 55
Your B.M.I is :-  0.0019721036967980205

In [14]:
a=2
b=3
print(a,b,sep=",")

2,3

In [20]:
#Write a Program to add Two Numbers
#take two inputs simultaneously

a,b=input("enter the two numbers :- ").split("+")
a=int(a)
b=int(b)
c=a+b
print(c)

enter the two numbers :- 7+99
106

In [2]:
for i in range(7):
    print(i,sep=",",end=" ")

0 1 2 3 4 5 6

In [14]:
s = int(input("Enter A number :-"))
for i in range(10):
    s = (s + int(i))
    print(s)

Enter A number :-2
2
3
5
8
12
17
23
30
38
47

In [84]:
example = ['1','2','3','4','5','55','6','77','88','87','90']
for i in example and range(0,3):
    print(example[4] ,end='')

555

In [6]:
r = float(input('Enter the radius of the circle: '))
area = 3.14 * r * r

print('Area of circle =%.2f ' %area)

Enter the radius of the circle: 90
Area of circle =25434.00

In [1]:
a = input('Enter the value of a: ')
b = input('Enter the value of b: ')

print('Values Before Swapping')
print('a = ',a, 'and b = ',b)

temp = a
a = b
b = temp

print('Values After Swapping')
print('a = ',a, 'and b = ',b)

Enter the value of a: 56 67
Enter the value of b: 6799
Values Before Swapping
a =  56 67 and b =  6799
Values After Swapping
a =  6799 and b =  56 67

In [ ]:
# python program to find the area of the triangle

# take inputs
a = float(input('Enter the first side of the triangle: '))
b = float(input('Enter the second side of the triangle: '))
c = float(input('Enter the third side of the triangle: '))

# must be smaller than the third side.  
if (a < 0 or b < 0 or c < 0 or 
                 (a+b <= c) or (a+c <=b) or (b+c <=a) ):  
    print('Not a valid triangle')
    
else:

    # calculate the semi-perimeter
    s = (a + b + c) / 2

    # calculate area of triangle
    area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

    # display result
    print('Area of triangle = %0.2f' %area)

In [19]:
#Take User Input and Find Factorial of any Number
x,y = input("Enter a Number To Find Its Factorial :- ").split(",")
y = int(y)
x = int(x)
factorial = 1
if x < 0:
    print("Factorial of Negative Number Does Not Exist")
elif x == 0 or x == 1:
    print("Factorial of is : 1")
else:
    for i in range(1,x + 1):
        factorial = factorial*i
        print("Factorial of ",x,"is", "=" ,factorial)
if y < 0:
    print("Factorial of Negative Number Does Not Exist")
elif y == 0 or y == 1:
    print("Factorial of is : 1") 
else:
    for i in range(1,y + 1):
            factorial = factorial*i
            print("Factorial of ",y,"is", "=" ,factorial)

Enter a Number To Find Its Factorial :- 3,7
Factorial of  3 is = 1
Factorial of  3 is = 2
Factorial of  3 is = 6
Factorial of  7 is = 6
Factorial of  7 is = 12
Factorial of  7 is = 36
Factorial of  7 is = 144
Factorial of  7 is = 720
Factorial of  7 is = 4320
Factorial of  7 is = 30240

In [22]:
list = []
n = int(input("Enter A Number :- "))
count = 0
for i in range (1,n + 1):
    e = int(input("Enter Element"))
    list.append(e)
print(list)
even = []
odd = []
for j in list:
    if (j % 2 == 0):
        even.append(j)
    else:
        odd.append(j)

Enter A Number :- 4
Enter Element1
Enter Element2
Enter Element3
Enter Element4
[1, 2, 3, 4]

In [25]:
start,end=input("Enter A Range :-  ").split(" ")
start=int(start)
end=int(end)
for i in range (start, end+1):
    if i==25:
        break
    print(i,end=" ")

Enter A Range :-  3 5
3 4 5

In [45]:
# Continue Statement
a = int(input("Enter A Number : "))
for i in range(1,a+1):
    if i == 9:
        continue
    print(i)
    print("hello")

Enter A Number : 8
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello

In [14]:

a,j=input("Enter Two Numbers To find there table :- ").split(" ")
a=int(a)
j=int(j)
for i in range (1,11):
    print(a*i,end=" ")
    print(" ")
    
for k in range (1,11):
        print(j*k,end=" ") 
        print(" ")

Enter Two Numbers To find there table :- 9 11
9
18
27
36
45
54
63
72
81
90
11
22
33
44
55
66
77
88
99
110

In [10]:
row = int(input("Enter The Number of Rows:- "))
for i  in range (1,row + 1):
    for j in range (1,i + 1):
        print(j,end=" ")
    print("")

Enter The Number of Rows:- 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
row = int(input("Enter The Number of Rows "))
for i in  range (1, row + 1, 1):
    for j in range (1, i + 1):
        print(j,end=" ")
    print("")

Enter The Number of Rows 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [5]:

list=[x]
x = int(input("Enter A Range :"))
for i in range(1,x+1):
    if x % 2 == 0:
        print("These are even Numbers",x)
    else:
        print("These are Odd Numbers",x)

Enter A Range :12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12
These are even Numbers 12

In [9]:
row = int(input("Enter A Number A Rows to Make a Pattern : "))
m = row
for i in range (1,row + 1):
    for j in range (1,m + 1):
        print("*"," ",end = " ")
    m = m - 1
    print("")

Enter A Number A Rows to Make a Pattern : 7
*   *   *   *   *   *   *
*   *   *   *   *   *
*   *   *   *   *
*   *   *   *
*   *   *
*   *
*

In [21]:
num = int(input("Enter A Number :- "))
temp = num
reverse = 0
if num == 0:
    print("Reverse of Zero is 0")
while (num != 0):
    r = num % 10
    num = num // 10
    r = str
    reverse = reverse * 10 + r
print(reverse)
if temp != reverse:
    print("Not Palindrome")
else:
    print("Palindrome")

Enter A Number :- 60
6
Not Palindrome

In [1]:
row = int(input("Number of Rows : "))
k = 0
for i in range (1,row + 1):
    print(k," " ,row + 1)
    k != 0
    print("")

Number of Rows : 7
0   8

0   8

0   8

0   8

0   8

0   8

0   8

In [3]:
#write a program to print alphabets in rows
row = int(input("Enter the Number Of Rows:- "))
m = 65
for i in range (1, row + 1):
    k = m
    for j in range (1, row):
        print(chr(k)," ",end=" ")
        k+=5
    m=m+1
    print(" ")

Enter the Number Of Rows:- 6
A   F   K   P   U
B   G   L   Q   V
C   H   M   R   W
D   I   N   S   X
E   J   O   T   Y
F   K   P   U   Z

In [33]:
row = int(input("Enter A Number Of Rows :- "))
space = row
for i in range(1,row + 1):
    for j in range (1,space):
        print(end = " ")
    space = space - 1
    for k in range (1,i + 1):
        print("*", end = "")
    print(" ")

Enter A Number Of Rows :- 7
      *
     **
    ***
   ****
  *****
 ******
*******

In [32]:
row = int(input("Enter The Number Of Rows:- "))
m = row
for i in range (1, row + 1):
    print(end = " ")
    for j in range(1, row + 1):
        m = m - 1
        print(end="")
        print(row)

Enter The Number Of Rows:- 2
 2
2
 2
2

In [3]:
for val in "string":
    if val == "i":
        break
    print(val)
print("The End")

s
t
r
The End

In [5]:
a = "madrid software"
for i in a:
    print(i)

m
a
d
r
i
d

s
o
f
t
w
a
r
e

In [10]:
sum = 0
while(1):
    num = int(input("Enter The Number:- "))
    sum = sum + num
    choice = input("You Wish To Enter More Number, Press 1 For Yes Or 0 For No :")
    if choice == "1":
        continue
    elif choice == "0":
        break
    else:
        print("Invaid Choice")
print(sum)

Enter The Number:- 8
You Wish To Enter More Number, Press 1 For Yes Or 0 For No :1
Enter The Number:- 90
You Wish To Enter More Number, Press 1 For Yes Or 0 For No :1
Enter The Number:- 78798
You Wish To Enter More Number, Press 1 For Yes Or 0 For No :0
78896

In [7]:
print("Hello")
def add():
    num1,num2=input("Enter the number: ").split(" ")
    num1=int(num1)
    num2=int(num2)  
    result=num1+num2
    print(result)
print("Before Function Calling")
add()
print("After Function Calling")

Hello
Before Function Calling
Enter the number: 5 6
11
After Function Calling

In [18]:
#case2 : WIth Arguments And No return
print("Hello")
def add(num1+num2):
    result=num1+num2
    print(result)
    print("inside function calling")
n1,n2=input("Enter The Numbers").split(",")
print("Before Finction Calling")
n1=int(n1)
n2=int(n2)
add()
print("After Function Calling")

SyntaxError: invalid syntax (3669534785.py, line 2)

In [8]:
print("Hello")
def add(n1,n2):
    n1,n2=input("Enter The Numbers").split(",")
    n1 = int(n1)
    n2 = int(n2)
    result=n1+n2
    print(result)
    print("inside function calling")
n1,n2=input("Enter The Numbers").split(",")
print("Before Function Calling")
a=add
print("After Function Calling")
print(a)

Hello
Enter The Numbers2,6
Before Function Calling
After Function Calling
<function add at 0x000001D9AC05EEE0>

In [24]:
x = int(input("Enter a Number To Find Its Table:-"))
for i in range(1,11):
        print(x,"*",i,"=",x*i)
print("")

Enter a Number To Find Its Table:-4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [43]:
num=int(input("enter the number : "))
for i in range(1,11):
    if (i%2==0):
        print("square of", i,"is  ", i*i)
        print(end=(""))
    else:
        print(num ,"*", i ,"=", num*i)

enter the number : 2
2 * 1 = 2
sqaure of 2 is   4
2 * 3 = 6
sqaure of 4 is   16
2 * 5 = 10
sqaure of 6 is   36
2 * 7 = 14
sqaure of 8 is   64
2 * 9 = 18
sqaure of 10 is   100

In [52]:
for i in range (100,9,-10):
    print("10","*","=",i)

10 * = 100
10 * = 90
10 * = 80
10 * = 70
10 * = 60
10 * = 50
10 * = 40
10 * = 30
10 * = 20
10 * = 10

In [9]:
# case 1 without arguments without return
def check():
    x = int(input("Enter A Number"))
    if x >= 0:
        print("This Number is Positive")
    else:
        print("This Number Is Negative")
check()

Enter A Number-9
This Number Is Negative

In [11]:
#modules

In [11]:
len([1,3,"hello"])

3

In [12]:
pow(4,6)

4096

In [13]:
a = 56
id(a)

2932391891024

In [14]:
ord("A")

65

In [15]:
chr(65)

'A'

In [18]:
round(14.9887,3)

14.989

In [19]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
def student(firstname,lastname="Solutions"):
    print(firstname,lastname)
student(firstname="madrid", lastname="Solutions")
student(lastname="Solutions", firstname="madrid")

madrid Solutions
madrid Solutions

In [12]:
def add(*args):
    type(args)
    print(args)
    sum = 0
    for arg in args:
        sum = sum + arg
        print(type(args))
        print(sum)
        
add(2,3,7,9,44)

(2, 3, 7, 9, 44)
<class 'tuple'>
2
<class 'tuple'>
5
<class 'tuple'>
12
<class 'tuple'>
21
<class 'tuple'>
65