### q.1 

### l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
### 1) arrange the list in alphabetical order 
### 2) count the total letters and count of distinct letters in the list

In [ ]:
#1
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
#l.sort()
#print(l)

#2
#count=0
#for i in l:
    #for j in i:
       # count+=1
#print("Total letters in The list Are :",count)

#2.2
from collections import Counter
l1=[]
for i in l:
    for j in i:
        l1.append(j)
print(l1)
print(Counter(l1))

### q.2
### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

### q.3 
### a) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. 

### b) wap  to remove punctuation mark from list of string using list comprehension
l=["hello'",1'2,22'4,"hi how'r u"]

## c) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
Then, the output should be: 1, 3, 5, 7, 9

### q.4

### Find Longest String in List
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]

In [4]:
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]
x=l[0]
max1 = len(l[0])
for i in l:
    if len(i) > max1:
        max1=len(i)
        x = i
print(x)

i m doing good u tell

### q.5

### Display the characters at an odd position in string input by User.

In [11]:
s = input("String")
result=""
for i in range(len(s)):
    if i % 2 != 0:
        result=result+s[i]
print(result)

Stringhillclimb
illm

### q.6

### Extract file name in this  /document/imp/salary.txt

In [1]:
z="/document/imp/salary.txt"
l=z.rsplit("/")
l
m = l[3]
m1=m.split(".")
m1[0]

'salary'

### q.7
### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98


Then, the output should be:


['34', '67', '55', '33', '12', '98'] and ('34', '67', '55', '33', '12', '98')

### q. 8

### Write a program to display second largest element of the list entered by user

In [ ]:
l = []
m = int(input("Enter the range of the List : "))
for i in range(1,m+1):
    element=int(input("Enter The Elements : "))
    l.append(element)
l.sort()
print("Second LArgest Element in this List is :",l[-2])

### q.9

### Write a program to display the most, second most and least frequent word of the list

l=["abc","bac","abc","abb","abb","abb"]

In [3]:
from collections import Counter
l=["abc","bac","abc","abb","abb","abb"]
for i in l:
    Counter(i)

### q.10
### Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]


Following are the fixed values of C and H: C is 50. H is 30.

### q.11
### wap to place "hello" at even index of string.

eg: string :  "madrid"

output:    helloahellorhellod

In [20]:
s = "String"
for i in s:
    i=i.replace(s[2:4],"hello")
i

'g'

### q.12
## Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again

## q.13
#### You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 

 
The priority is that name > age > score. 


If the following tuples are given as input to the program: 


Tom,19,80 

John,20,90 

Jony,17,91

Jony,17,93 

Json,21,85 


Then, the output of the program should be: 
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]