### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [ ]:
t=(1,2,3,4,5,6,7,8,9,10)
print("first half values of the tuple are :  ",t[0:(len(t)//2)])
print("second half values are ",t[len(t)//2:len(t)])

### Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.

In [4]:
l=input("enter the elements in the list ").split(",")

l1=[int(num)*int(num) for num in l if int(num)%2!=0]
print(l1)

enter the elements in the list 3,5,7,8
[9, 25, 49]

In [22]:
### a) wap  to remove punctuation mark from list of string using list comprehension
l=["hello'","1'2","22'4","hi" ,"how'r u"]
l1=[]
for i in l:
    l1.append(i.replace("'",""))
l1

['hello', '12', '224', 'hi', 'howr u']

In [24]:
## b) Use a list comprehension to display the lement at odd index in a list. The list is input by a sequence of comma-separated numbers.
#Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
#Then, the output should be: 1, 3, 5, 7, 9 
l=[1,2,3,4,5,6,7,8,9]
l1=[]
for i in range(0,len(l),2):
    l1.append(l[i])
print(l1)

[1, 3, 5, 7, 9]

### Find Longest String in List

In [5]:
import functools
string_list = ["hello", "world", "let's hi how  ru ", "learn", "some", "Pythonhello"]
longest = functools.reduce(lambda longest, current_string: current_string if len(current_string) > len(longest) else longest, string_list, "")
print(longest)

let's hi how  ru

### Display the characters at an odd position in string input by User.

### Extract file name in this  /document/imp/salary.txt

In [32]:
s=" /document/imp/salary.txt"
l=s.rsplit("/")
print(l)
print(l[3])
x=l[3]
x1=x.split(".")
x1[0]

[' ', 'document', 'imp', 'salary.txt']
salary.txt

'salary'

#### With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included) and then the program should print the dictionary.

Suppose the input is supplied to the program: 8

Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98


Then, the output should be:


['34', '67', '55', '33', '12', '98'] and ('34', '67', '55', '33', '12', '98')

In [ ]:
l=input("enter the list of elements").split(",")
t=list(l)

### Write a program to display second largest element of the list entered by user

## Write a program to display the most, second most and least frequent word of the list

l=["abc","bac","abc","abb","abb","abb"]

### Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]


Following are the fixed values of C and H: C is 50. H is 30.

### Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again

### Write a program which takes a input as a string  and print * at all the even indexes
Suppose the input is supplied to the program: madrid
Then the output should be: *a*r*d

### Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
Then, the output should be: 1, 3, 5, 7, 9

##### You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 

 
The priority is that name > age > score. 


If the following tuples are given as input to the program: 


Tom,19,80 

John,20,90 

Jony,17,91

Jony,17,93 

Json,21,85 


Then, the output of the program should be: 
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [27]:
l1=[]
for i in range(1,6):
    l=[]
    l=input("enter the name,age,score").split()
    l1.append(tuple(l))
print(l1)

enter the name,age,scoremeet 45 67
enter the name,age,scorepreet 67 89
enter the name,age,scoreneha 34 56
enter the name,age,scoredeep 32 21
enter the name,age,scoredeepa 54 43
[('meet', '45', '67'), ('preet', '67', '89'), ('neha', '34', '56'), ('deep', '32', '21'), ('deepa', '54', '43')]

In [28]:
sorted(l1,key=lambda t:t[0])

[('deep', '32', '21'),
 ('deepa', '54', '43'),
 ('meet', '45', '67'),
 ('neha', '34', '56'),
 ('preet', '67', '89')]

In [29]:
sorted(l1,key=lambda t:t[1])

[('deep', '32', '21'),
 ('neha', '34', '56'),
 ('meet', '45', '67'),
 ('deepa', '54', '43'),
 ('preet', '67', '89')]

In [30]:
sorted(l1,key=lambda t:t[2])

[('deep', '32', '21'),
 ('deepa', '54', '43'),
 ('neha', '34', '56'),
 ('meet', '45', '67'),
 ('preet', '67', '89')]